<!DOCTYPE HTML>
<html>
<head>
</head>

<body>
  <header>
  	<div class="wrapper">
  		<h1>Love Rejj<span class="color">.</span></h1>
  		<nav>
  			<ul>
  				<li><a href="#">Home</a></li>
  				<li><a href="#">Portfolio</a></li>
  				<li><a href="#">Contact</a></li>
  				<li><a href="#">Blog</a></li>
  			</ul>
  		</nav>
  	</div>
  </header>

  <div id="hero-image">
  	<div class="wrapper">
  		<h2><strong>Love</strong><br/>
  		is not enough</h2>
  		<a href="#" class="button-1">Get Started</a>
  	</div>
  </div>

  <div id="features">
	<div class="wrapper">
		<ul>
			<li class="feature-1">
				<h4>Broken</h4>
				<p>She's broken because she believed. He's okay because he lied.</p>
			</li>
			<li class="feature-2">
				<h4>Acceptance</h4>
				<p>Letting go doesn't mean giving up,
        but rather accepting that <strong>there are things that cannot be.</strong></p>
			</li>
			<li class="feature-3">
				<h4>Moving On</h4>
				<p>Once you realize you deserve better, letting go will be the best decision ever.</p>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>

</body>
</html>
